.paper {
  margin-top: 0px !important;
  transition-property: all !important;
  transition: 500ms !important;
}

.paper:hover {
  margin-top: -100px !important;
  transition: 200ms !important;
  cursor: pointer !important;
}
